body{
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmVhY2glMjBzY2VuZXJ5fGVufDB8fDB8fA%3D%3D&w=1000&q=80");

}
.nav{
    text-align:center;
}
.navbar{
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items:flex-start;
    min-height: 30vh;
    border:2px solid black;
    border-radius:10px;
    margin:10px 150px;
    padding:15px 100px;
    background-color:rgb(125, 143, 180);
    border-color:white;
    height:500px;
    animation: blinkBorder 1s infinite;
}
.navbar input{
    width:50%;
}
.navbar button{
    background-color:blue;
}
@keyframes blinkBorder{
    0%{
        border-color:cyan;
        box-shadow:0 0 5px cyan;
    }
    50%{
        border-color:transparent;
        box-shadow:none;
    }
    100%{
        border-color:cyan;
        box-shadow:0 0 20px cyan;
    }
}
.weatherresult{
    display:flex;
    justify-content:center;
    margin:0 50px;
}